* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section:nth-child(2n) {
  background-color: #f4f4f4;
}
/* ----- Container ----- */
.container {
  position: relative;
  max-width: 330px;
  margin: 0 auto;
  padding: 20px 0;
}

/* -----Header----- */
.header-section {
  background-image: url(./assets/bg-pencilz.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 520px;
  width: auto;
}
.title {
  position: absolute;
  top: 200px;
  left: 0px;
}
.portfolio-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}
.career-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}
.portrait {
  position: absolute;
  border-radius: 100%;
  border: 2px solid white;
  width: 180px;
  top: 350px;
  right: 0px;
}
.main-navbar-logos {
  position: absolute;
  top: 50px;
  right: 0px;
}
.top-logo {
  max-width: 40px;
}
a {
  text-decoration: none;
  color: black;
}

/* ----- Presentation ----- */
.line-dot-icon {
  height: 11px;
  margin-right: 5px;
}
.presentation-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  margin: 30px 0;
}

/* ----- Tech ----- */
.title-head {
  display: flex;
  justify-content: center;
}
.tech-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 30px 0;
}
.tech-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 30px 0;
}

/* ----- Projects ----- */
.projects-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 30px 0;
}
.project-image-container {
  position: relative;
  color: white;
}
.project-image {
  max-width: 100%;
  height: auto;
}
.project-title-overlay {
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  font-size: 28px;
  line-height: 34px;
  background-color: #fa382f;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.project-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #fa382f;
  margin: 10px 0;
}
.project-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 10px;
}
.code-tag {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 400;
  background-color: lightpink;
  padding: 5px 10px;
  margin: 0 10px 40px 0;
}
.other-projects-head {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #fa382f;
  padding: 30px;
}
.other-projects {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.red-text {
  color: #fa382f;
}

/* ----- My Thoughts ----- */
.my-thoughts-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 30px 0;
}
.thoughts-image-container {
  position: relative;
  color: white;
}
.thoughts-image {
  max-width: 100%;
  height: auto;
}
.thoughts-title-overlay {
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  font-size: 28px;
  line-height: 34px;
  background-color: #fa382f;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.thoughts-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: red;
  margin: 20px 0 10px 0;
}
.thoughts-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}
.thoughts-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 10px;
}
.more-thoughts-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #fa382f;
  padding: 30px;
  margin: 30px 0 0 0;
}
.other-thoughts-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
  margin: 0 0 30px 0;
}

/* ----- Skills ----- */
.skills-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 30px 0;
}
.list-head {
  color: #fa382f;
}
ul {
  list-style-type: none;
}
.skill-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  margin: 0 0 30px 0;
}

/* ----- For More ----- */
.for-more-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 30px 0;
}
.nav-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.logo {
  text-align: center;
  margin: 20px;
}
.logo-image {
  max-width: 60px;
}
.logo-text {
  color: #fa382f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 20px;
}

/* ----- Contact footer ----- */
.footer-contact {
  background-color: #072bce;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 40px;
  padding: 50px;
}
.contact-head {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 47px;
}

/* Tablet*/
@media (min-width: 768px) {
  .container {
    max-width: 660px;
  }
}

/* -----Desktop----- */
@media (min-width: 992px) {
  .container {
    max-width: 1100px;
  }

  /* ---Header--- */
  .top-logo {
    max-width: 80px;
  }
  .portrait {
    width: 333px;
    top: 200px;
    right: 0px;
  }
  .portfolio-text {
    font-size: 22px;
    line-height: 50px;
  }
  .career-text {
    font-size: 58px;
    line-height: 70px;
  }

  /* ---Presentation--- */
  .presentation-text {
    max-width: 1100px;
  }
  .line-dot-icon {
    height: 20px;
  }

  /* ---Tech--- */
  .tech-text {
    max-width: 1100px;
  }

  /* ---Projects--- */
  .projects {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }

  /* ---Thoughts--- */
  .thoughts {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
  }

  /*   ---Skill--- */
  .skill-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }

  /* ---Contact--- */
  .logo-image {
    max-width: 160px;
  }
  .logo-text {
    font-size: 25px;
    margin-top: 20px;
  }
}
