* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header-section {
  background-image: url(./bg-pencils.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
  width: auto;
  color: white;
}
.title {
  position: absolute;
  top: 221px;
  left: 24px;
}
.portrait {
  border-radius: 100%;
  border: 1px solid white;
  width: 180px;
  position: absolute;
  top: 356px;
  right: 24px;
}
.main-navbar-logos {
  position: absolute;
  top: 80px;
  right: 30px;
}
a {
  text-decoration: none;
}

.tech-head,
.projects-head,
.about-code-head,
.skills-head,
.for-more-head {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  background-color: dodgerblue;
  margin: 25px;
}

.presentation-section {
  background-color: lightyellow;
  padding: 49px 24px 43px 24px;
  text-align: center;
}

.tech-section {
  background-color: lightskyblue;
  padding: 20px;
  text-align: center;
}

.project-section {
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
}

.code-section {
  background-color: lightskyblue;
  padding: 20px;
  text-align: center;
}

.skill-section {
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
}

.for-more-section {
  background-color: lightskyblue;
  padding: 20px;
  text-align: center;
}
footer {
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
}
