* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 29px;
}

.header-section {
  background-image: url(./assets/bg-pencilz.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 520px;
  width: auto;
  color: white;
}
.title {
  position: absolute;
  top: 221px;
  left: 24px;
}
.portfolio-text {
  font-size: 1.2rem; /* Check pixel instead */
}
.career-text {
  font-size: 2rem; /* Check pixel instead */
}
.portrait {
  border-radius: 100%;
  border: 1px solid white;
  width: 180px;
  position: absolute;
  top: 356px;
  right: 24px;
}
.main-navbar-logos {
  position: absolute;
  top: 80px;
  right: 30px;
}
a {
  text-decoration: none;
}

.tech-head,
.projects-head,
.about-code-head,
.skills-head,
.for-more-head {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  background-color: #fa382f;
  color: white;
  padding: 3px 5px;
  margin: 25px;
}
.other-projects-head,
.more-code-head,
.contact-head {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fa382f;
}
.list-head {
  color: #fa382f;
}

.presentation-section {
  background-color: #f4f4f4;
  padding: 49px 24px 43px 24px;
}
.line-dot-icon {
  height: 11px;
  margin-right: 5px;
}
.presentation-text,
.tech-text,
.project-text {
  text-align: left;
  margin: 0 auto;
  max-width: 330px;
  margin-bottom: 10px;
}
.tech-text {
  text-align: center;
}

.tech-section {
  padding: 20px;
  text-align: center;
}
.project-section {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
.projects,
.other-projects {
  max-width: 330px;
  margin: 0 auto;
  text-align: left;
}
.project-image-container {
  position: relative;
  color: white;
}
.project-image {
  max-width: 100%;
  height: auto;
}
.project-title-overlay {
  font-size: 28px;
  background-color: #fa382f;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.red-text {
  color: #fa382f;
}
.code-tag {
  display: inline-block;
  background-color: lightpink;
  font-size: 9px;
  line-height: 11px;
  padding: 5px 10px;
  margin: 0 10px 20px 0;
}
.code-section {
  padding: 20px;
  text-align: center;
}

.skill-section {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}
.skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}
ul {
  list-style-type: none;
}

.for-more-section {
  padding: 20px;
  text-align: center;
}
.logo {
  display: inline;
  margin: 20px;
}
footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  line-height: 47px;
}

/* Tablet*/
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
  .skill-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
  .projects {
    max-width: 1100px;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .project-image-container {
    position: relative;
    max-width: 530px;
  }
  .project-text {
    max-width: 530px;
  }
}
